.container{
     background-color:#f0f2f7;
      padding: 3%;
}

.img{
    width: 90%;
    height: 70%;
}
.input{
    width: 100%;
}
.card{
    margin: 10%;
     padding: 10%;
     border-radius: 5%;
}
.center{
    margin: auto;
}
.btn{
    background-color: #17aebe;
    color: snow;
    width: 100%;
}
.button{
    padding: 10%;
}
.red{
    background-color: #fc3850;
    color: snow;
}
.image{
    width: 30%;
}
.logo{
    // margin: 10%;
    margin-top: 5%;
    padding-left: 30%;
}