    <div class="container">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="card">
            <div class="center">

              <h1>login in to your account</h1>
              <div class="input">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="input">
                <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                <input type="password"  class="form-control" id="exampleFormControlTextarea1">
              </div>

              <div class="button">
                <button type="button" class="btn">Login</button>

              </div>
              <div class="button">
                <button type="button" class="btn red">Connect with google</button>

              </div>
              <div>
                <p>
                  Don't have an account ?
                  <a [routerLink]="['/sign-up']">Signup here</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="img" src="../../../assets/img/Group 1741.png" alt="">
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat
          </div>
          <div class="logo">
            <img class="image" src="../../../assets/img/app store.png" alt="">
            <img class="image" src="../../../assets/img/google play.png" alt="">

          </div>
        </div>
      </div>
    </div>
