.container{
    background-color:#f0f2f7;
}
.row>*{
     width: 30% !important;

}

.img{
   width: 30%;
   height: 30%;
   margin-left: 35%;
}
.input{
   width: 50%;
   border-radius: 20%;
}
.card{
   margin: 6%;
    padding: 7%;
    border-radius: 25px;
    box-shadow: slategrey;
}
.center{
   margin: auto;
}
.btn{
   background-color: #17aebe;
   color: snow;
   width: 10%;
}
.button{
}
.red{
   background-color: #fc3850;
   color: snow;
}
.image{
   width: 30%;
}
.logo{
   // margin: 10%;
   margin-top: 5%;
   padding-left: 30%;
}
.navbar{
    background-color: #17aebe;
}
.col-lg-9{
    width: 100%;
}

.video{
// width: 40%;
}
